fastapi
uvicorn
python-dotenv
sqlalchemy
pyjwt
alembic
casbin
casbin_sqlalchemy_adapter
celery
redis
prometheus-client
requests
psutil==5.9.5
httpx
python-socketio[async]
aio_pika
pydantic_core
email-validator