# /backend/.env.template

# Database
DB_URL="sqlite:///./dev.db"

# Security
SECRET_KEY="CHANGE_ME"
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM="HS256"

# Celery
CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_RESULT_BACKEND="redis://localhost:6379/1"

# Messaging
GMAIL_USERNAME=""
GMAIL_PASSWORD=""
SENDGRID_API_KEY=""
INFOBIP_API_KEY=""
INFOBIP_BASE_URL=""
INFOBIP_FROM_NUMBER=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_FROM_NUMBER=""
ONESIGNAL_APP_ID=""
ONESIGNAL_REST_API_KEY=""

# RabbitMQ
RABBITMQ_USERNAME="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_HOST="localhost"
RABBITMQ_PORT=5672

# Logging
LOKI_URL="http://localhost:3100"